/* * {
    outline: 1px solid red;
} */


#contenedor-contenedor{
    margin-top: 58px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.parrafo, .titulo {
    font-family: sans-serif;
    margin: 5px;
    min-width: 450px;
    width: 450px;
    max-width: 450px;
    height: fit-content;
}


.titulo {
    
    font-size: 2em;
}