doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/articulo.css")
        title= art.nombre
    body 
        div#contenedor-contenedor
            div#contenedor 
                 each item in art.contenido
                    if item[0] == 'titulo'
                        h1(class='titulo')!= item[1]
                    else if item[0] == 'parrafo'
                        p(class='parrafo')!= item[1]
