doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        div.contenedor-servidores
            each server, index in servers
                div.servidor
                    img(src= server.iconURL())
                    div= server.name